In [39]:
import pandas as pd
from calendar import month_abbr

In [40]:
jc1801df = pd.read_csv("Resources\JC-201801-citibike-tripdata.csv")
jc1801df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12672,247,2018-01-31 11:03:59.1750,2018-01-31 11:08:07.0570,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,31828,Subscriber,1962,1
12673,806,2018-01-31 15:34:36.8370,2018-01-31 15:48:03.0280,3640,Journal Square,40.733670,-74.062500,3211,Newark Ave,40.721525,-74.046305,31842,Subscriber,1987,1
12674,1499,2018-01-31 15:45:09.8000,2018-01-31 16:10:09.4400,3640,Journal Square,40.733670,-74.062500,3640,Journal Square,40.733670,-74.062500,29622,Subscriber,1981,1
12675,291,2018-01-31 16:54:11.9480,2018-01-31 16:59:03.5760,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,29622,Subscriber,1963,1
12676,383,2018-01-31 18:34:50.2950,2018-01-31 18:41:13.7530,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,31690,Subscriber,1989,1

In [41]:
# To create dataframes for the rest of 2018 CSV files, we can use two for loops to create a list of dataframes

jc18_list = [jc1801df]
for i in range (2,10):
    jc18_list.append(pd.read_csv(f"Resources\JC-20180{i}-citibike-tripdata.csv"))
    
for i in range (10,13):
    jc18_list.append(pd.read_csv(f"Resources\JC-2018{i}-citibike-tripdata.csv"))
    
jc18_list[11].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [42]:
# Concatenating all 2018 dataframes into one df, with addition of a column for the month names

months = [month_abbr[i] for i in range(1,13)]
jc18df = pd.concat(jc18_list, keys=months)
jc18df = jc18df.reset_index()
del jc18df["level_1"]
jc18df = jc18df.rename(columns={"level_0":"Months"})
jc18df.tail()

,Months,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
353887,Dec,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,Dec,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,Dec,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,Dec,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,Dec,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [43]:
# Repeating the process for reading 2019 CSV files

jc19_list = []
for i in range (1,10):
    jc19_list.append(pd.read_csv(f"Resources\JC-20190{i}-citibike-tripdata.csv"))
    
for i in range (10,13):
    jc19_list.append(pd.read_csv(f"Resources\JC-2019{i}-citibike-tripdata.csv"))
    
jc19_list[11].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1

In [44]:
# Concatenating all 2019 dataframes into one df, with addition of a column for the month names

months = [month_abbr[i] for i in range(1,13)]
jc19df = pd.concat(jc19_list, keys=months)
jc19df = jc19df.reset_index()
del jc19df["level_1"]
jc19df = jc19df.rename(columns={"level_0":"Months"})
jc19df.head()

,Months,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,Jan,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,Jan,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,Jan,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,Jan,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,Jan,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [45]:
# Repeating the process for reading 2020 CSV files

jc20_list = []
for i in range (1,10):
    jc20_list.append(pd.read_csv(f"Resources\JC-20200{i}-citibike-tripdata.csv"))
    
for i in range (10,13):
    jc20_list.append(pd.read_csv(f"Resources\JC-2020{i}-citibike-tripdata.csv"))
    
jc20_list[11].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2
1,572,2020-12-01 00:11:57.3910,2020-12-01 00:21:30.2510,3640,Journal Square,40.733670,-74.062500,3280,Astor Place,40.719282,-74.071262,18568,Subscriber,1997,2
2,387,2020-12-01 00:14:49.3610,2020-12-01 00:21:16.8730,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,44543,Subscriber,1960,1
3,188,2020-12-01 00:45:06.3680,2020-12-01 00:48:14.4280,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,43098,Subscriber,1998,1
4,594,2020-12-01 01:17:17.0110,2020-12-01 01:27:11.9400,3212,Christ Hospital,40.734786,-74.050444,3209,Brunswick St,40.724176,-74.050656,44723,Subscriber,1988,1

In [46]:
# Concatenating all 2020 dataframes into one df, with addition of a column for the month names

months = [month_abbr[i] for i in range(1,13)]
jc20df = pd.concat(jc20_list, keys=months)
jc20df = jc20df.reset_index()
del jc20df["level_1"]
jc20df = jc20df.rename(columns={"level_0":"Months"})
jc20df.columns

Index(['Months', 'tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [47]:
# Repeating the process for reading 2021 CSV files

jc21_list = []
for i in range (1,10):
    jc21_list.append(pd.read_csv(f"Resources\JC-20210{i}-citibike-tripdata.csv"))
    
for i in range (10,12):
    jc21_list.append(pd.read_csv(f"Resources\JC-2021{i}-citibike-tripdata.csv"))
    
jc21_list[0].usertype.unique()

array(['Subscriber', 'Customer'], dtype=object)

In [48]:
# After checking 2021 dataframes, dataframes of February till November of that year have a different columns arrangement than all the previous years
# Concatenating those dataframes together first before changing their format to match with the previous dataframes
months = [month_abbr[i] for i in range(2,12)]
jc21df = pd.concat(jc21_list[1:12], keys=months)
jc21df = jc21df.reset_index()
del jc21df["level_1"]
jc21df = jc21df.rename(columns={"level_0":"Months"})
jc21df.head()

,Months,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,Feb,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,Feb,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,Feb,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,Feb,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,Feb,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [49]:
# Renaming the columns to match the previous years

jc21df = jc21df.rename(columns = {"started_at": "starttime",
                                 "ended_at": "stoptime",
                                 "start_station_id": "start station id",
                                 "end_station_id": "end station id",
                                 "start_station_name": "start station name",
                                 "end_station_name": "end station name",
                                 "start_lat": "start station latitude",
                                 "start_lng": "start station longitude",
                                 "end_lat": "end station latitude",
                                 "end_lng": "end station longitude",
                                 "member_casual": "usertype"})
# Replacing the values in 'usertype' to match the previous years

jc21df["usertype"] = jc21df["usertype"].replace({"member":"Subscriber", "casual":"Customer"})

# Deleting 'ride_id' and 'rideable_type' columns as they are not existent in the previous years
jc21df = jc21df.drop(columns =["ride_id", "rideable_type"], axis = 1)

# Creating 'tripduration' column for 2021 year dataframe

jc21df["starttime"] = pd.to_datetime(jc21df["starttime"])
jc21df["stoptime"] = pd.to_datetime(jc21df["stoptime"])
jc21df["tripduration"] = (jc21df["stoptime"] - jc21df["starttime"]).astype('timedelta64[s]')

# Splitting 'starttime' and 'stoptime' columns into separate columns for date and time

jc21df["start_date"] = pd.to_datetime(jc21df["starttime"]).dt.date
jc21df["start_time"] = pd.to_datetime(jc21df["starttime"]).dt.time
jc21df["stop_date"] = pd.to_datetime(jc21df["stoptime"]).dt.date
jc21df["stop_time"] = pd.to_datetime(jc21df["stoptime"]).dt.time
del jc21df["starttime"]
del jc21df["stoptime"]

# Rearranging columns

jc21df = jc21df[['Months', 'tripduration', 'start_date', 'start_time', 'stop_date', 'stop_time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude','usertype']]
jc21df.head()

,Months,tripduration,start_date,start_time,stop_date,stop_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,Feb,420.0,2021-02-03,23:11:28,2021-02-03,23:18:28,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,JC034,Christ Hospital,40.734786,-74.050444,Subscriber
1,Feb,1355.0,2021-02-27,16:34:05,2021-02-27,16:56:40,JC008,Newport Pkwy,40.728744,-74.032108,JC013,Marin Light Rail,40.714584,-74.042817,Subscriber
2,Feb,381.0,2021-02-26,23:16:04,2021-02-26,23:22:25,JC103,Journal Square,40.733670,-74.062500,JC020,Baldwin at Montgomery,40.723659,-74.064194,Subscriber
3,Feb,1459.0,2021-02-24,16:51:50,2021-02-24,17:16:09,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046963,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,Customer
4,Feb,30.0,2021-02-24,20:44:16,2021-02-24,20:44:46,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046963,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,Subscriber

In [50]:
# First, Concatenating only the years before 2021 (As they contained gender and birth year data)
p_frames = [jc18df, jc19df, jc20df]
jc18_20df = pd.concat(p_frames, keys=("2018", "2019", "2020"))
jc18_20df = jc18_20df.reset_index()

In [51]:
# del jc18_20df["level_1"]
jc18_20df = jc18_20df.rename(columns={"level_0":"Years"})
jc18_20df["gender"] = jc18_20df["gender"].replace({0: "Unknown", 1:"Male", 2:"Female"})
jc18_20df.head()

,Years,level_1,Months,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018,0,Jan,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,Male
1,2018,1,Jan,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,Female
2,2018,2,Jan,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,Male
3,2018,3,Jan,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,Male
4,2018,4,Jan,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,Male

In [52]:
# Splitting 'starttime' and 'stoptime' columns into separate columns for date and time

jc18_20df["start_date"] = pd.to_datetime(jc18_20df["starttime"]).dt.date
jc18_20df["start_time"] = pd.to_datetime(jc18_20df["starttime"]).dt.time
jc18_20df["stop_date"] = pd.to_datetime(jc18_20df["stoptime"]).dt.date
jc18_20df["stop_time"] = pd.to_datetime(jc18_20df["stoptime"]).dt.time
del jc18_20df["starttime"]
del jc18_20df["stoptime"]

In [53]:
# Rearranging columns
jc18_20df = jc18_20df[['Years', 'Months', 'tripduration', 'start_date', 'start_time', 'stop_date', 'stop_time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude','usertype', 'birth year', 'gender']]

jc18_20df

,Years,Months,tripduration,start_date,start_time,stop_date,stop_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,2018,Jan,932,2018-01-01,02:06:17.541000,2018-01-01,02:21:50.027000,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,Subscriber,1992,Male
1,2018,Jan,550,2018-01-01,12:06:18.039000,2018-01-01,12:15:28.443000,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,Subscriber,1969,Female
2,2018,Jan,510,2018-01-01,12:06:56.978000,2018-01-01,12:15:27.810000,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,Subscriber,1946,Male
3,2018,Jan,354,2018-01-01,14:53:10.186000,2018-01-01,14:59:05.096000,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,Subscriber,1994,Male
4,2018,Jan,250,2018-01-01,17:34:30.192000,2018-01-01,17:38:40.984000,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,Subscriber,1991,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095636,2020,Dec,1750,2020-12-31,23:07:44.003000,2020-12-31,23:36:54.471000,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown
1095637,2020,Dec,1519,2020-12-31,23:18:00.263000,2020-12-31,23:43:19.859000,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,Customer,1969,Unknown
1095638,2020,Dec,1761,2020-12-31,23:31:09.462000,2021-01-01,00:00:31.329000,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,Customer,1998,Male
1095639,2020,Dec,637,2020-12-31,23:35:45.464000,2020-12-31,23:46:22.730000,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,Customer,1969,Unknown
1095640,2020,Dec,1607,2020-12-31,23:48:34.575000,2021-01-01,00:15:22.309000,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,Subscriber,1982,Male

In [55]:
# Second removing bikeid, birth year and gender data columns to concatenate with 2021 data
jc_prev_df = jc18_20df.drop(["birth year","gender"], axis=1)

# Add the column 'years' to jc21df and adding the value 2021
jc21df["Years"] = "2021"
jc21df = jc21df[['Years', 'Months', 'tripduration', 'start_date', 'start_time', 'stop_date', 'stop_time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude','usertype']]

# Concatenating all years dataframes
jctotaldf = pd.concat([jc_prev_df, jc21df])
jctotaldf.tail()

,Years,Months,tripduration,start_date,start_time,stop_date,stop_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
584706,2021,Nov,315.0,2021-11-18,12:12:29,2021-11-18,12:17:44,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber
584707,2021,Nov,464.0,2021-11-26,21:49:49,2021-11-26,21:57:33,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber
584708,2021,Nov,277.0,2021-11-29,16:20:36,2021-11-29,16:25:13,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber
584709,2021,Nov,343.0,2021-11-02,08:25:46,2021-11-02,08:31:29,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber
584710,2021,Nov,442.0,2021-11-09,15:07:55,2021-11-09,15:15:17,JC105,Hoboken Ave at Monmouth St,40.735208,-74.046964,HB101,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,-74.030305,Subscriber

In [56]:
# Download both 'jc18_20df' and 'jctotaldf' as CSV files

jc18_20df.to_csv("Resources\Cleaned_data\jc18_20.csv", index=False)
jctotaldf.to_csv("Resources\Cleaned_data\jc18_21.csv",index=False)